.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #bce2e8;
}

.header-content {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ul {
  list-style: none;
}

li {
  width: 100%;
  border: 1px solid;
  padding: 0 16px;
  padding-bottom: 16px;
}

.flex-row {
  display: flex;
  justify-content: space-around; 
  gap: 20px;  
  margin: 20px 0;
}

.category-tag {
  border: 1px solid blue;
  color: blue;
  padding: 4px;
}